*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{

   background: linear-gradient(to right top, #1d2cde, #006aff, #0094ff, #00b7fc, #00d6f0, #29dcf2, #3ee2f4, #4ee8f6, #73d7f8, #95c5ec, #aab5d4, #aea8ba);
   height: 100vh;
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


   
}

header{
margin-top: 10%;
color: whitesmoke;
font-size: 40px;

}
form{

 justify-content: space-around;


 margin-top: 50px;
 
 

}


.todo-input{
width: 470px;
height:60px;
position: relative;
border: none;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
font-size: 20px;
padding-left: 15px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-transform: capitalize;

}
.todo-button{
background:#4d0bd1;
border: none;
width: 50px;
height: 60px;
position: absolute;
border-top-right-radius: 50px;




}
.todo-button i{
color:rgb(225, 205, 245);
font-size: 35px;
margin-right: 5%;
font-weight: bold;
transition: transform .4s;


}


.todo-button i:hover{

   transform: scale(1.2); 
}

.select{
   margin-right:20%;
 
}

select{
   width: 150px;
   height: 40px;
  margin-right: 50px;
  margin-top: 20px;
   border: none;
   border-radius: 10px;
   font-size: 15px;
}

.todo{

display: flex;
justify-content: center;
margin-left: 20px;
margin-top: 30px;

}

.todo-item{
   display: flex;
background: white;
width:370px;
height: fit-content;
text-align: left;
padding-left: 10px;
overflow-wrap: anywhere;
padding-top: 7px;
padding-bottom: 7px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;

}
.check-btn{
   background:linear-gradient(to right top, #f0f2e8, #e0edc9, #c9e9ae, #abe696, #84e383, #6de589, #4de690, #00e799, #00edb3, #1df2cb, #3ff7e0, #5ffbf1);
border: none;
width: 40px;
border-top-right-radius: 50px;
z-index: 2;




}
.trash-btn{
   background-image: linear-gradient(to right top, #f0f2e8, #e2deb3, #e1c57e, #e6a84d, #ef8523, #e96c15, #e2500c, #da2d0a, #c12109, #a71608, #8f0a05, #770000);
border: none;
width: 65px;
height: 33px;

border-top-right-radius: 50px;
margin-left: -2%;



}

.trash-btn i{

margin-left: 15px;
color: white;

}

.check-btn i{
color: #003F00;
font-size: 20px;
margin-right: 5px;




}

.completed-todo{

text-decoration: line-through;
color: #00e799;


}


@media screen and (min-width: 200px) and (max-width: 950px) {


.trash-btn{
margin-left: -3%;

}



}




